.App {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App .list_style li{
  margin:10px;
  border-bottom:1px solid #eee;
}
.App .list_style li:hover{
  background:#eee;
}
.App .list_style li p{
  margin:0 7% 0 0;
  width: 70%; 
  float: left; 
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height:22px;
}
.App .list_style li button{
  margin:0 5px;
}

.App .list_style1 li p{
  color:red;
}